body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

.App {
  text-align: center;
  color: white;
  background-color: #282c34;
  margin: 5rem;
  border: 2px solid white;
  border-radius: 12px;
}
.dly-msg {
  display: grid;
  background-color: white;
  color: black;
  margin: 0.5rem;
  border: 2px solid white;
  border-radius: 12px;
}
.dly-msg button {
  display: flex;
  justify-content: center;
  flex-direction: flex-end;
  margin: 0.5rem;
  width: 100px;
  height: 25px;
  box-shadow: 0 4px 5px;
  font-size: 105%;

}

.send-text {
  display: flex;
  justify-content: space-around;
  margin: 0.5rem;
  border: 2px solid white;
  border-radius: 12px;
}
.send-input {
  margin: 1.5rem;
  gap: 0.5rem;
}
.send-input input {
  margin-left: 0.5rem;
  height: 25px;

  font-size: 105%;
}
.text-area {
  margin-top: 0.5rem;
}
.send-text button {
  margin: 1.5rem;
  width: 120px;
  font-size: 105%;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
}
.btn {
  display: flex;
}
.btn button {
  margin-right: 1.5rem;
  height: 30px;
  font-size: 105%;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.search {
  height: 25px;
  border-radius: 5px;
}
.search input {
  margin-right: 0.5rem;
  height: 25px;

  /* padding: 16px; */
  font-size: 105%;
  /* outline: 0; */
  /* width: 90%; */
}
.search button {
  margin-left: 0.5rem;
  height: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.message-content {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
  padding-left: 1.5rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: left;
}
/* .message-content:second-child {
} */
.message-content button {
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.hide {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 900px){
  .App {
    margin: 5rem 20rem;
  }
}
